__pycache__/*
.ipynb_checkpoints/*
.vscode
.vscode/*
PyHa
PyHa/*
classification/__pycache__/*
classification/.ipynb_checkpoints/*
classification/wandb/*
*.log
*.pt
*.out
wandb/*
data-augmentation/move_missing_files.py
data-augmentation/find_failing_species.py
data-augmentation/birdclef2023_tweety_labels_log.txt
data-augmentation/__pycache__/*
data-augmentation/gen_data_stats.py
