__pycache__/
__pycache__/*
.ipynb_checkpoints/*
.vscode
.vscode/*


models/*
data/*
PyHa
PyHa/*

classification/__pycache__/*
classification/.ipynb_checkpoints/*
classification/wandb/*
wandb/*


chunking_methods/move_missing_files.py
chunking_methods/find_failing_species.py
chunking_methods/birdclef2023_tweety_labels_log.txt
chunking_methods/__pycache__/*
chunking_methods/gen_data_stats.py

Miniconda3-*.sh

*.mp3
*.wav
*.csv
*.log
*.pt
*.out




test.py
*.zip
