__pycache__/*
.ipynb_checkpoints/*
.vscode
.vscode/*
PyHa
PyHa/*
classification/__pycache__/*
classification/.ipynb_checkpoints/*
classification/wandb/*
*.log
*.pt
*.out
wandb/*
chunking_methods/move_missing_files.py
chunking_methods/find_failing_species.py
chunking_methods/birdclef2023_tweety_labels_log.txt
chunking_methods/__pycache__/*
chunking_methods/gen_data_stats.py
*.mp3
cosmos_labeled_data_files_added.csv
models/*
data/*
__pycache__/
